[build]
  publish = "dist"
  command = "npm run build"

[functions]
  directory = "netlify/functions"




# API routes go to functions
[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

# Default SPA fallback
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
